## Python Script to Extract Values for Single Tickets
this code loops over different event names to show the most common price per price section in the concert hall. 
It takes Single Tickets, excluding add-ons and subscribers.

In [ ]:
import numpy as np
import pandas as pd

!pip install numpy pandas matplotlib

import matplotlib.pyplot as plt

# Replace 'your_file.csv' with the path to your CSV file
df = pd.read_csv('/Users/sofialozano/Library/CloudStorage/OneDrive-EmoryUniversity/EMORY FALL 2024/ECON 540 WRITING COMMUNICATION/Project 2 ASO/ASO_data/FY24 Regular Tickets.csv')

# Display the first few rows of the dataframe
df.head()

In [ ]:
pip install tabulate

SyntaxError: invalid syntax (1508640488.py, line 1)

In [11]:
from tabulate import tabulate

In [2]:
df_filtered = df[df['price_code'] != 'AAO']
df_filtered.head()

,event_name,section_name,row_name,seat_num,last_seat,num_seats,acct_id,zip,add_datetime,price_code,price_code_type,price_section,comp,comp_name,purchase_price,paid_amount,source,ticket_type
0,241005SE,BALCL,G,17,18,2,9474296,NaN,9/17/2023,JWB,Single Ticket,Rear Balcony,N,Not Comp,46.0,92.0,ASO Staff,Single Ticket
1,241021SE,ORCHR,G,8,8,1,8991196,30327,5/14/2023,CAJ,Single Ticket,Main Orchestra,N,Not Comp,55.0,55.0,ASO Staff,Single Ticket
2,240118SE,ORCHR,D,13,14,2,9730408,NaN,1/13/2024,CAJ,Single Ticket,Main Orchestra,N,Not Comp,55.0,110.0,ASO Staff,Single Ticket
3,240125SE,ORCHL,F,12,12,1,252266,30309,1/6/2024,AE1,Fixed Established Subscription 6 Concert,Premium Orchestra,N,Not Comp,106.0,106.0,ASO Staff,Subscription
4,240127SE,ORCHR,R,15,16,2,6261598,30083,1/5/2024,CAJ,Single Ticket,Main Orchestra,N,Not Comp,55.0,110.0,ASO Staff,Single Ticket

In [41]:
df = df_filtered[df_filtered['price_code_type'] == 'Single Ticket']
df.head()

,event_name,section_name,row_name,seat_num,last_seat,num_seats,acct_id,zip,add_datetime,price_code,price_code_type,price_section,comp,comp_name,purchase_price,paid_amount,source,ticket_type
0,241005SE,BALCL,G,17,18,2,9474296,NaN,9/17/2023,JWB,Single Ticket,Rear Balcony,N,Not Comp,46.0,92.0,ASO Staff,Single Ticket
1,241021SE,ORCHR,G,8,8,1,8991196,30327,5/14/2023,CAJ,Single Ticket,Main Orchestra,N,Not Comp,55.0,55.0,ASO Staff,Single Ticket
2,240118SE,ORCHR,D,13,14,2,9730408,NaN,1/13/2024,CAJ,Single Ticket,Main Orchestra,N,Not Comp,55.0,110.0,ASO Staff,Single Ticket
4,240127SE,ORCHR,R,15,16,2,6261598,30083,1/5/2024,CAJ,Single Ticket,Main Orchestra,N,Not Comp,55.0,110.0,ASO Staff,Single Ticket
5,240224SE,ORCHL,E,18,19,2,8268708,30309,2/9/2024,AAJ,Single Ticket,Premium Orchestra,N,Not Comp,125.0,250.0,ASO Staff,Single Ticket

In [12]:
# Filter the dataframe for the specific event_name
df_event = df[df['event_name'] == '241019SE']

# Group by price_section and find the most common purchase_price
most_common_price = df_event.groupby('price_section')['purchase_price'].agg(lambda x: x.value_counts().idxmax()).reset_index()

# Display the result

print("Most Common Purchase Price by Price Section for Event: 241019SE")
print(tabulate(most_common_price, headers='keys', tablefmt='fancy_grid'))

Most Common Purchase Price by Price Section for Event: 241019SE
╒════╤═══════════════════╤══════════════════╕
│    │ price_section     │   purchase_price │
╞════╪═══════════════════╪══════════════════╡
│  0 │ Dress Circle      │            55    │
├────┼───────────────────┼──────────────────┤
│  1 │ Front Balcony     │            34.5  │
├────┼───────────────────┼──────────────────┤
│  2 │ Front Loge        │            85    │
├────┼───────────────────┼──────────────────┤
│  3 │ Front Orchestra   │            32    │
├────┼───────────────────┼──────────────────┤
│  4 │ Main Orchestra    │            55    │
├────┼───────────────────┼──────────────────┤
│  5 │ Middle Loge       │            77    │
├────┼───────────────────┼──────────────────┤
│  6 │ Middle Orchestra  │            60    │
├────┼───────────────────┼──────────────────┤
│  7 │ Premium Orchestra │            82.75 │
├────┼───────────────────┼──────────────────┤
│  8 │ Rear Balcony      │            25    │
├────┼───────────────────┼──────────────────┤
│  9 │ Rear Orchestra    │            44    │
╘════╧═══════════════════╧══════════════════╛

In [15]:
# Filter the dataframe for the specific event_name
df_event = df[df['event_name'] == '241019SE']

# Calculate the weighted average purchase_price for each price_section
weighted_avg_price = df_event.groupby('price_section').apply(
    lambda x: np.average(x['purchase_price'], weights=x['num_seats'])
).reset_index()

# Rename the columns for clarity
weighted_avg_price.columns = ['price_section', 'weighted_avg_purchase_price']

# Display the result
print("Weighted Average of Prices for Event: 241019SE")
print(tabulate(weighted_avg_price, headers='keys', tablefmt='fancy_grid'))

Weighted Average of Prices for Event: 241019SE
╒════╤═══════════════════╤═══════════════════════════════╕
│    │ price_section     │   weighted_avg_purchase_price │
╞════╪═══════════════════╪═══════════════════════════════╡
│  0 │ Dress Circle      │                       40.1333 │
├────┼───────────────────┼───────────────────────────────┤
│  1 │ Front Balcony     │                       32.3514 │
├────┼───────────────────┼───────────────────────────────┤
│  2 │ Front Loge        │                       87.2426 │
├────┼───────────────────┼───────────────────────────────┤
│  3 │ Front Orchestra   │                       30.2857 │
├────┼───────────────────┼───────────────────────────────┤
│  4 │ Main Orchestra    │                       48.35   │
├────┼───────────────────┼───────────────────────────────┤
│  5 │ Middle Loge       │                       69.225  │
├────┼───────────────────┼───────────────────────────────┤
│  6 │ Middle Orchestra  │                       59.4662 │
├────┼───────────────────┼───────────────────────────────┤
│  7 │ Premium Orchestra │                       93.08   │
├────┼───────────────────┼───────────────────────────────┤
│  8 │ Rear Balcony      │                       24.64   │
├────┼───────────────────┼───────────────────────────────┤
│  9 │ Rear Orchestra    │                       38.3213 │
╘════╧═══════════════════╧═══════════════════════════════╛

In [14]:
# Filter the dataframe for the specific event_name
df_event = df[df['event_name'] == '241021SE']

# Group by price_section and find the most common purchase_price
most_common_price = df_event.groupby('price_section')['purchase_price'].agg(lambda x: x.value_counts().idxmax()).reset_index()

# Display the result

print("Most Common Purchase Price by Price Section for Event: 241021SE")
print(tabulate(most_common_price, headers='keys', tablefmt='fancy_grid'))

Most Common Purchase Price by Price Section for Event: 241021SE
╒════╤═══════════════════╤══════════════════╕
│    │ price_section     │   purchase_price │
╞════╪═══════════════════╪══════════════════╡
│  0 │ Dress Circle      │               56 │
├────┼───────────────────┼──────────────────┤
│  1 │ Front Balcony     │               36 │
├────┼───────────────────┼──────────────────┤
│  2 │ Front Loge        │              106 │
├────┼───────────────────┼──────────────────┤
│  3 │ Front Orchestra   │               24 │
├────┼───────────────────┼──────────────────┤
│  4 │ Main Orchestra    │               55 │
├────┼───────────────────┼──────────────────┤
│  5 │ Middle Loge       │               77 │
├────┼───────────────────┼──────────────────┤
│  6 │ Middle Orchestra  │               78 │
├────┼───────────────────┼──────────────────┤
│  7 │ Premium Orchestra │              110 │
├────┼───────────────────┼──────────────────┤
│  8 │ Rear Balcony      │               25 │
├────┼───────────────────┼──────────────────┤
│  9 │ Rear Orchestra    │               44 │
╘════╧═══════════════════╧══════════════════╛

In [16]:
# Filter the dataframe for the specific event_name
df_event = df[df['event_name'] == '241021SE']

# Calculate the weighted average purchase_price for each price_section
weighted_avg_price = df_event.groupby('price_section').apply(
    lambda x: np.average(x['purchase_price'], weights=x['num_seats'])
).reset_index()

# Rename the columns for clarity
weighted_avg_price.columns = ['price_section', 'weighted_avg_purchase_price']

# Display the result
print("Weighted Average of Prices for Event: 241021SE")
print(tabulate(weighted_avg_price, headers='keys', tablefmt='fancy_grid'))

Weighted Average of Prices for Event: 241021SE
╒════╤═══════════════════╤═══════════════════════════════╕
│    │ price_section     │   weighted_avg_purchase_price │
╞════╪═══════════════════╪═══════════════════════════════╡
│  0 │ Dress Circle      │                       53.7667 │
├────┼───────────────────┼───────────────────────────────┤
│  1 │ Front Balcony     │                       30.9458 │
├────┼───────────────────┼───────────────────────────────┤
│  2 │ Front Loge        │                       94.9071 │
├────┼───────────────────┼───────────────────────────────┤
│  3 │ Front Orchestra   │                       29.1232 │
├────┼───────────────────┼───────────────────────────────┤
│  4 │ Main Orchestra    │                       52.6117 │
├────┼───────────────────┼───────────────────────────────┤
│  5 │ Middle Loge       │                       69.975  │
├────┼───────────────────┼───────────────────────────────┤
│  6 │ Middle Orchestra  │                       70.7317 │
├────┼───────────────────┼───────────────────────────────┤
│  7 │ Premium Orchestra │                       95.9661 │
├────┼───────────────────┼───────────────────────────────┤
│  8 │ Rear Balcony      │                       24.9167 │
├────┼───────────────────┼───────────────────────────────┤
│  9 │ Rear Orchestra    │                       42.3409 │
╘════╧═══════════════════╧═══════════════════════════════╛

In [42]:
# List of event names
event_names = [
    "241019SE", "241021SE", "241102SE", "241104SE", "241109SE", "241111SE", "241116SE", 
    "241118SE", "241119SM", "241130SE", "241202SE", "240118SE", "240120SE", "240125SE", 
    "240127SE", "240201SE", "240203SE", "240215SE", "240216SE", "240229SE", "240302SE", 
    "240314SE", "240316SE", "240404SE", "240405SE", "240411SE", "240413SE", "240418SE", 
    "240420SE", "240425SE", "240426SE", "240502SE", "240504SE", "240516SE", "240518SE", 
    "240530SE", "240601SE", "240606SE", "240608SE", "240613SE", "240615SE", "240616SM"
]

# Initialize an empty dataframe to store the results
most_common_prices_table = pd.DataFrame()

# Loop through each event name and calculate the most common purchase price by price section
for event in event_names:
    df_event = df[df['event_name'] == event]
    most_common_price = df_event.groupby('price_section')['purchase_price'].agg(lambda x: x.value_counts().idxmax()).reset_index()
    most_common_price.columns = ['price_section', event]
    
    if most_common_prices_table.empty:
        most_common_prices_table = most_common_price
    else:
        most_common_prices_table = pd.merge(most_common_prices_table, most_common_price, on='price_section', how='outer')

most_common_prices_table.head()
# Display the result
#print("Most Common Purchase Price by Price Section for Classical Regular Events")
#print(tabulate(most_common_prices_table, headers='keys', tablefmt='fancy_grid'))

,price_section,241019SE,241021SE,241102SE,241104SE,241109SE,241111SE,241116SE,241118SE,241119SM,...,240504SE,240516SE,240518SE,240530SE,240601SE,240606SE,240608SE,240613SE,240615SE,240616SM
0,Dress Circle,55.0,56.0,56.0,46.0,71.0,61.0,61.0,61.0,61.0,...,56.0,64.0,56.0,56.0,56.0,56.0,56.0,58.0,58.0,61.0
1,Front Balcony,37.0,37.0,37.0,37.0,37.0,37.0,43.0,37.0,43.0,...,38.0,38.0,38.0,38.0,38.0,36.0,38.0,40.0,40.0,43.0
2,Front Loge,20.0,110.0,110.0,111.0,136.0,136.0,116.0,123.0,116.0,...,111.0,20.0,116.0,111.0,111.0,111.0,111.0,109.0,123.0,116.0
3,Front Orchestra,32.0,32.0,39.0,32.0,58.0,65.0,38.0,32.0,32.0,...,38.0,43.0,33.0,42.0,33.0,33.0,33.0,45.0,45.0,38.0
4,Main Orchestra,55.0,55.0,55.0,46.0,55.0,55.0,61.0,61.0,61.0,...,56.0,56.0,56.0,56.0,56.0,56.0,56.0,60.0,58.0,63.0

In [44]:
most_common_prices_table.to_csv('/Users/sofialozano/Downloads/classical_most_common_prices.csv', index=False)

In [45]:
# Initialize an empty dataframe to store the results
weighted_avg_prices_table = pd.DataFrame()

# Loop through each event name and calculate the weighted average purchase price by price section
for event in event_names:
    df_event = df[df['event_name'] == event]
    weighted_avg_price = df_event.groupby('price_section').apply(
        lambda x: np.average(x['purchase_price'], weights=x['num_seats'])
    ).reset_index()
    weighted_avg_price.columns = ['price_section', event]
    
    if weighted_avg_prices_table.empty:
        weighted_avg_prices_table = weighted_avg_price
    else:
        weighted_avg_prices_table = pd.merge(weighted_avg_prices_table, weighted_avg_price, on='price_section', how='outer')

most_common_prices_table.head()
# Display the result
#print("Weighted Average Purchase Price by Price Section for Each Event")
#print(tabulate(weighted_avg_prices_table, headers='keys', tablefmt='fancy_grid'))

,price_section,241019SE,241021SE,241102SE,241104SE,241109SE,241111SE,241116SE,241118SE,241119SM,...,240504SE,240516SE,240518SE,240530SE,240601SE,240606SE,240608SE,240613SE,240615SE,240616SM
0,Dress Circle,55.0,56.0,56.0,46.0,71.0,61.0,61.0,61.0,61.0,...,56.0,64.0,56.0,56.0,56.0,56.0,56.0,58.0,58.0,61.0
1,Front Balcony,37.0,37.0,37.0,37.0,37.0,37.0,43.0,37.0,43.0,...,38.0,38.0,38.0,38.0,38.0,36.0,38.0,40.0,40.0,43.0
2,Front Loge,20.0,110.0,110.0,111.0,136.0,136.0,116.0,123.0,116.0,...,111.0,20.0,116.0,111.0,111.0,111.0,111.0,109.0,123.0,116.0
3,Front Orchestra,32.0,32.0,39.0,32.0,58.0,65.0,38.0,32.0,32.0,...,38.0,43.0,33.0,42.0,33.0,33.0,33.0,45.0,45.0,38.0
4,Main Orchestra,55.0,55.0,55.0,46.0,55.0,55.0,61.0,61.0,61.0,...,56.0,56.0,56.0,56.0,56.0,56.0,56.0,60.0,58.0,63.0

In [46]:
most_common_prices_table.to_csv('/Users/sofialozano/Downloads/classical_weighted_avg_prices.csv', index=False)

In [47]:
# List of premium event names
premium_event_names = [
    "241005SE", "241007SE", "240222SE", "240224SE", "240225SM", 
    "240321SE", "240322SE", "240323SE", "240324SM", "240509SE", "240511SE"
]

# Initialize an empty dataframe to store the most common prices
premium_most_common_prices_table = pd.DataFrame()

# Loop through each premium event name and calculate the most common purchase price by price section
for event in premium_event_names:
    df_event = df[df['event_name'] == event]
    most_common_price = df_event.groupby('price_section')['purchase_price'].agg(lambda x: x.value_counts().idxmax()).reset_index()
    most_common_price.columns = ['price_section', event]
    
    if premium_most_common_prices_table.empty:
        premium_most_common_prices_table = most_common_price
    else:
        premium_most_common_prices_table = pd.merge(premium_most_common_prices_table, most_common_price, on='price_section', how='outer')

# Save the most common prices table to a CSV file
premium_most_common_prices_table.to_csv('/Users/sofialozano/Downloads/premiumclassical_most_common_prices.csv', index=False)

# Initialize an empty dataframe to store the weighted average prices
premium_weighted_avg_prices_table = pd.DataFrame()

# Loop through each premium event name and calculate the weighted average purchase price by price section
for event in premium_event_names:
    df_event = df[df['event_name'] == event]
    weighted_avg_price = df_event.groupby('price_section').apply(
        lambda x: np.average(x['purchase_price'], weights=x['num_seats'])
    ).reset_index()
    weighted_avg_price.columns = ['price_section', event]
    
    if premium_weighted_avg_prices_table.empty:
        premium_weighted_avg_prices_table = weighted_avg_price
    else:
        premium_weighted_avg_prices_table = pd.merge(premium_weighted_avg_prices_table, weighted_avg_price, on='price_section', how='outer')

# Save the weighted average prices table to a CSV file
premium_weighted_avg_prices_table.to_csv('/Users/sofialozano/Downloads/premiumclassical_weighted_avg_prices.csv', index=False)

In [48]:
# List of holiday event names
holiday_event_names = [
    "241209SM", "241209SE", "241210SM", "241210SE", "241214SE", "241215SE", "241223SM", "241223SE"
]

# Initialize an empty dataframe to store the most common prices
holiday_most_common_prices_table = pd.DataFrame()

# Loop through each holiday event name and calculate the most common purchase price by price section
for event in holiday_event_names:
    df_event = df[df['event_name'] == event]
    most_common_price = df_event.groupby('price_section')['purchase_price'].agg(lambda x: x.value_counts().idxmax()).reset_index()
    most_common_price.columns = ['price_section', event]
    
    if holiday_most_common_prices_table.empty:
        holiday_most_common_prices_table = most_common_price
    else:
        holiday_most_common_prices_table = pd.merge(holiday_most_common_prices_table, most_common_price, on='price_section', how='outer')

# Save the most common prices table to a CSV file
holiday_most_common_prices_table.to_csv('/Users/sofialozano/Downloads/holiday_most_common_prices.csv', index=False)

# Initialize an empty dataframe to store the weighted average prices
holiday_weighted_avg_prices_table = pd.DataFrame()

# Loop through each holiday event name and calculate the weighted average purchase price by price section
for event in holiday_event_names:
    df_event = df[df['event_name'] == event]
    weighted_avg_price = df_event.groupby('price_section').apply(
        lambda x: np.average(x['purchase_price'], weights=x['num_seats'])
    ).reset_index()
    weighted_avg_price.columns = ['price_section', event]
    
    if holiday_weighted_avg_prices_table.empty:
        holiday_weighted_avg_prices_table = weighted_avg_price
    else:
        holiday_weighted_avg_prices_table = pd.merge(holiday_weighted_avg_prices_table, weighted_avg_price, on='price_section', how='outer')

# Save the weighted average prices table to a CSV file
holiday_weighted_avg_prices_table.to_csv('/Users/sofialozano/Downloads/holiday_weighted_avg_prices.csv', index=False)

In [49]:
# List of special event names
special_event_names = ["241025SE", "240103SE"]

# Initialize an empty dataframe to store the most common prices
special_most_common_prices_table = pd.DataFrame()

# Loop through each special event name and calculate the most common purchase price by price section
for event in special_event_names:
    df_event = df[df['event_name'] == event]
    most_common_price = df_event.groupby('price_section')['purchase_price'].agg(lambda x: x.value_counts().idxmax()).reset_index()
    most_common_price.columns = ['price_section', event]
    
    if special_most_common_prices_table.empty:
        special_most_common_prices_table = most_common_price
    else:
        special_most_common_prices_table = pd.merge(special_most_common_prices_table, most_common_price, on='price_section', how='outer')

# Save the most common prices table to a CSV file
special_most_common_prices_table.to_csv('/Users/sofialozano/Downloads/special_most_common_prices.csv', index=False)

# Initialize an empty dataframe to store the weighted average prices
special_weighted_avg_prices_table = pd.DataFrame()

# Loop through each special event name and calculate the weighted average purchase price by price section
for event in special_event_names:
    df_event = df[df['event_name'] == event]
    weighted_avg_price = df_event.groupby('price_section').apply(
        lambda x: np.average(x['purchase_price'], weights=x['num_seats'])
    ).reset_index()
    weighted_avg_price.columns = ['price_section', event]
    
    if special_weighted_avg_prices_table.empty:
        special_weighted_avg_prices_table = weighted_avg_price
    else:
        special_weighted_avg_prices_table = pd.merge(special_weighted_avg_prices_table, weighted_avg_price, on='price_section', how='outer')

# Save the weighted average prices table to a CSV file
special_weighted_avg_prices_table.to_csv('/Users/sofialozano/Downloads/special_weighted_avg_prices.csv', index=False)